<ion-header show>
    <ion-navbar>
        <ion-title>
            <span translate>NWallet</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <p>public</p>
    <p>{{account.signature.public}}</p>
    <p>secret</p>
    <p>{{account.signature.secret}}</p> -->
    <ion-item no-lines>
        <div item-start>
            <div text-left >
                <span translate>Total</span> :
                <br><span>{{totalPrice}}</span>
            </div>
        </div>
        <button item-end> + </button>
    </ion-item>
    <ion-slides pager>
        <ion-slide *ngFor="let walletPage of walletPages">
            <ion-list>
                <asset-item *ngFor="let wallet of walletPage.wallets" [asset]="wallet" (click)="onSelectWallet(wallet)">
                </asset-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
    <div *ngIf="nCash && nCash.item">
        <asset-item [asset]="nCash" (click)="onSelectWallet(nCash)">
        </asset-item>
    </div>
</ion-content>
