<ion-header show>
    <ion-title>
        <img src="assets/img/title_wallet.png" />
    </ion-title>
</ion-header>

<ion-content padding>
    <!-- <p>public</p>
    <p>{{account.signature.public}}</p>
    <p>secret</p>
    <p>{{account.signature.secret}}</p> -->
    <!--<ion-item no-lines>-->
        <!--<div float-left class="total">-->
            <!--<ion-row class="label">-->
                <!--<span translate>Total</span>-->
                <!--<span>:</span>-->
            <!--</ion-row>-->
            <!--<ion-row class="price">-->
                <!--$<span>{{totalPrice}}</span>-->
            <!--</ion-row>-->
        <!--</div>-->
        <!--<div float-right><button type="button" class="btn-add-wallet"></button></div>-->
    <!--</ion-item>-->

    <ion-grid no-padding>
        <ion-row align-items-center>
            <ion-col float-left class="total">
                <ion-row class="label">
                    <span translate>Total</span>
                    <span>:</span>
                </ion-row>
                <ion-row class="price">
                    <span>$</span>
                    <span>{{totalPrice}}</span>
                </ion-row>
            </ion-col>
            <ion-col float-right class="total-btn">
                <button type="button" class="btn-add-wallet"></button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slides pager>
        <ion-slide *ngFor="let walletPage of walletPages">
            <ion-list>
                <nw-asset-item *ngFor="let wallet of walletPage.wallets" [asset]="wallet" (click)="onSelectWallet(wallet)"></nw-asset-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
    <div *ngIf="nCash && nCash.item">
        <nw-asset-item [asset]="nCash" (click)="onSelectWallet(nCash)"></nw-asset-item>
    </div>
</ion-content>
