page-buy-ncn-confirm {
    .sub-title {
        border-left: 5px $text-color-sub-title solid;
        font-size: $text-size-large;
        line-height: $text-size-large;
        padding-left: 5px;
        margin-bottom: $text-size-medium;
        color: $text-color-sub-title;
    }

    .logo {
        text-align: center;
        padding: 20px 0;

        img {
            width: 30%;
            min-width: 100px;
        }
    }

    .transfer {
        display: grid;
        grid-template-columns: 43% 14% 43%;
        justify-content: space-around;
        background: url("../assets/img/bg_arrow.png") no-repeat center center;
        background-size: 14%;
        border-top: 2px $border-color-divide-line solid;
        border-bottom: 2px $border-color-divide-line solid;
        padding: 15px 0;
        margin-bottom: 30px;

        .from {
            grid-column: 1;
            text-align: left;
            padding: 10px;

            .asset-amount {
                color: $text-color-content-red;
                font-size: $text-size-large;
                font-weight: 600;
            }
        }

        .to {
            grid-column: 3;
            text-align: right;
            padding: 10px;

            .asset-amount {
                color: $text-color-content-green;
                font-size: $text-size-large;
                font-weight: 600;
            }
        }

        .asset-name {
            color: $text-color-asset-name;
            font-size: $text-size-large;
            margin-bottom: 15px;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;

        button {
            margin: 0 15px;
        }
    }
}
