<ion-header>
    <ion-navbar>
        <ion-title>{{'Buy' | translate}} {{'NCN' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <div>
            {{'ConfirmBuyNCN' | translate}}
            <div class="logo">
                <img src="assets/img/symbol_NCN.png" />
            </div>
        </div>
        <div class="transfer">
            <div class="from">
                <div>
                    {{selectedWallet | walletToFullName | async}}
                </div>
                <div>
                    {{walletAmount}}
                </div>
            </div>
            <div>
                ====>
            </div>
            <div class="to">
                <div>
                    {{'NCN' | translate }}
                </div>
                <div>
                    {{buyNcnAMount}}
                </div>
            </div>
        </div>
        <div class="buttons">
            <button ion-item class="nw-button center" (click)="onClick_Cancel()">{{'Cancel' | translate}}</button>
            <button ion-item class="nw-button center" (click)="onClick_Confirm()">{{'Confirm' | translate}}</button>
        </div>

    </div>
</ion-content>
