page-buy-ncn-confirm {
    .sub-title {
        border-left: 5px $text-color-sub-title solid;
        @include fluid-type-line($text-size-large-min, $text-size-large-max);
        padding-left: 5px;
        margin-bottom: $space-fixed-size-10;
        color: $text-color-sub-title;
    }

    .logo {
        text-align: center;
        padding: $space-fixed-size-20 0;

        img {
            width: 30%;
            min-width: 100px;
        }
    }

    .transfer {
        display: grid;
        grid-template-columns: 43% 14% 43%;
        justify-content: space-around;
        background: url("../assets/img/bg_arrow.png") no-repeat center center;
        background-size: 14%;
        border-top: $space-fixed-size-2 $border-color-divide-line solid;
        border-bottom: $space-fixed-size-2 $border-color-divide-line solid;
        padding: $space-fixed-size-10 0;
        margin-bottom: $space-fixed-size-20;

        .from {
            grid-column: 1;
            text-align: left;
            padding: 0 $space-fixed-size-10;

            .asset-amount {
                color: $text-color-content-red;
                @include fluid-type($text-size-medium-min, $text-size-medium-max);
                font-weight: 600;
            }
        }

        .to {
            grid-column: 3;
            text-align: right;
            padding: 0 $space-fixed-size-10;

            .asset-amount {
                color: $text-color-content-green;
                @include fluid-type($text-size-medium-min, $text-size-medium-max);
                font-weight: 600;
            }
        }

        .asset-name {
            color: $text-color-asset-name;
            @include fluid-type($text-size-large-min, $text-size-large-max);
            margin-bottom: $space-fixed-size-10;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;

        button {
            margin: 0 15px;
        }
    }
}
