page-buy-ncn-confirm {
    .logo {
        text-align: center;
    }

    .transfer {
        display: flex;
        justify-content: space-around;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

}
