<ion-header class="tab-header">
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_buy_ncoin.png" />
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <div class="sub-title">
            {{'ConfirmBuyNCN' | translate}}
        </div>
        <div class="logo">
            <img src="assets/img/symbol_NCN.png" />
        </div>
        <div class="transfer">
            <div class="from">
                <div class="asset-name">
                    {{selectedWallet | walletToFullName | async}}
                </div>
                <div class="asset-amount">
                    {{walletAmount}} {{selectedWallet.getSymbol()}}
                </div>
            </div>
            <div class="to">
                <div class="asset-name">
                    {{'NCN' | translate }}
                </div>
                <div class="asset-amount" *ngIf="ncn">
                    {{buyNcnAmount}} {{ncn.getSymbol()}}
                </div>
            </div>
        </div>
        <div class="buttons">
            <button ion-item class="btn cancel" (click)="onClick_Cancel()">{{'Cancel' | translate}}</button>
            <button ion-item class="btn confirm" (click)="onClick_Confirm()">{{'Confirm' | translate}}</button>
        </div>

    </div>
</ion-content>
