tab-wallet {
    .total {

    }
    .total .label {
        color: #faf2e4;
        font-size: 16px;
        font-weight: 600;
        padding-right: 15px;
        padding-bottom: 5px;
    }
    .total .price {
        color: #ffcd83;
        font-size: 24px;
        font-weight: 800;
        padding-right: 15px;
    }

    .total-btn {
        width: 40px;
        max-width: 40px;
        height: 40px;
        max-height: 40px;
    }
    .total-btn .btn-add-wallet {
        width: 40px;
        height: 40px;
        background: transparent url("../assets/img/btn_plus.png") no-repeat;
        background-size: cover;
        padding: 0;
    }

    ion-slides.slides {
        height: auto;
    }

    div.swiper-wrapper {
        margin: 2rem 0 0 0;
    }
    div.swiper-pagination {
        align-content: flex-end;
        height: auto;
    }
}
