page-wallet-main {
    .total .label {
        color: #faf2e4;
        @include fluid-type($text-size-default-min, $text-size-default-max);
    }
    .total .price {
        color: #ffcd83;
        @include fluid-type($text-size-extra-large-min, $text-size-extra-large-max);
        font-weight: 800;
    }

    .total-btn {
        fa-icon {
            color: #b89e6e;
            @include fluid-type($text-size-extra-large-min, $text-size-extra-large-max);
            float: right;
            margin-right: 5px;
        }
    }

    ion-slides.slides {
        height: auto;
    }

    div.swiper-wrapper {
        margin: 2rem 0 0 0;
    }
    div.swiper-pagination {
        align-content: flex-end;
        height: auto;
    }
}
