<ion-header>
    <ion-navbar >
        <ion-title>
            <img src="assets/img/title_wallet.png" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row align-items-center>
            <ion-col float-left class="total">
                <ion-row class="label">
                    <span translate>Total</span>
                    <span>:</span>
                </ion-row>
                <ion-row class="price">
                    <span>$</span>
                    <span>{{totalPrice}}</span>
                </ion-row>
            </ion-col>

            <ion-col class="total-btn">
                <ion-icon class="manage-wallet-icon" name="more" (click)="onClick_ManageWallet()"></ion-icon>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-slides pager>
        <ion-slide *ngFor="let assetSlide of assetSlides">
            <ion-list>
                <nw-asset-item class="basic" *ngFor="let asset of assetSlide.assets" [asset]="asset" (click)=onSelectAsset(asset)></nw-asset-item>
            </ion-list>
        </ion-slide>
    </ion-slides>

    <!-- <div *ngIf="nCash && nCash.item">
        <nw-asset-item class="ncash" [asset]="nCash"></nw-asset-item>
    </div> -->
</ion-content>
