<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="content-center">
                <img src="assets/img/title_receive.png">
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="test">

    <div class="container">
        <div>
            <button class="country-code-button" (click)="onClick_SelectAsset()">
                <img src="assets/img/symbol_{{selectedAsset.getSymbol()}}.png" />
                <div>{{selectedAsset | assetToFullName | async}}</div>
                <div>{{selectedAsset | assetFormat}}</div>
                <ion-icon name="arrow-dropdown"></ion-icon>
            </button>
        </div>
        <div class="qrContainer">
            <ion-card class="qrCard" *ngIf="qrData">
                <ngx-qrcode [(qrc-value)]="qrData"></ngx-qrcode>
            </ion-card>
            <div class="tab-copy-text"><button (click)="onTabToCopyClicked()">Tab to Copy:</button></div>
            <div class="code-text" (click)="onTabToCopyClicked()">{{ qrData }}</div>
        </div>
    </div>

</ion-content>
