page-receive {
    .content {
    }

    .test {
    }

    ngx-qrcode .qrcode {
        width: 100%;
        height: 100%;
    }

    ngx-qrcode .img {
    }

    .container {
        overflow-y: hidden;

        .asset_change_button {
            display: grid;
            width: 100%;
            grid-template-columns: 30px 1fr 2fr 30px;
            background: $background-button-default;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;

            .asset-logo {
                grid-column: 1;
                margin: auto;
            }

            .asset-name {
                grid-column: 2;
                @include fluid-type($text-size-default-min, $text-size-default-max);
                color: $text-color-asset-name;
                margin: auto 0 auto 10px;
            }

            .asset-balance {
                grid-column: 3;
                @include fluid-type($text-size-default-min, $text-size-default-max);
                color: $text-color-asset-balance;
                margin: auto 10px auto 0;
                text-align: right;
            }

            fa-icon {
                grid-column: 4;
                font-size: 3rem;
                color: rgb(171, 165, 157);
                margin: auto;
            }
        }
    }

    .slide {
        display: flex;
        justify-content: center;

        > button {
            width: 25%;
            height: 50px;
            border: 1px solid $border-color;
            background: transparent;
            color: $foreground-header-gold;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
                height: 25px;
            }
        }

        .button-left {
            border-right: 0;
            border-radius: 5px 0 0 5px;
        }

        .button-right {
            border-left: 0;
            border-radius: 0 5px 5px 0;
        }

        .selected-button {
            color: $foreground-header-white;
            background: $border-color-7a;
        }
    }

    .qrContainer {
        margin: 5% 0 0 0;
        padding: 20px 0 20px 0;

        .qrCard {
            width: 50%;
            max-width: 200px;
            margin: auto;

            > ngx-qrcode > div > img {
                border-radius: 10px;
            }
        }

        .tab-copy-text {
            text-align: center;
            margin: 40px 0 10px 0;

            button {
                background: transparent;
                color: $text-color-point;
                @include fluid-type($text-size-default-min, $text-size-default-max);
            }
        }

        .code-text {
            text-align: center;
            @include fluid-type($text-size-medium-min, $text-size-medium-max);
        }
    }


    //orientation landscape
    @media screen and (max-height: 400px) {
        .slide {
            > button {
                height: 30px;
            }
        }

        .qrContainer {
            margin: 1% 0 0 0;
            padding: 5px 0 5px 0;
        }

    }
}
