<ion-header>
    <ion-navbar>
        <ion-title>
            <!-- <img src="assets/img/title_account.png" /> -->
            {{'MyInfo' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="my-info-summary">
        <div>
            <div>
                {{'MobileNumber' | translate}} :
            </div>
            <div>
                {{ phoneNumber}}
            </div>
        </div>
        <div>
            <div>
                {{'EmailAddress' | translate}} :
            </div>
            <div>
                {{email}}
            </div>
        </div>
        <div>
            <div>
                {{'Pin' | translate}} :
            </div>
            <div>
                {{(pincodeEnabled ? 'Registered' : 'NotRegisterd') | translate}}
            </div>
        </div>
    </div>
    <button ion-item detail-none class="btn default">
        <ion-label>
            {{'PhoneNumberSetting' | translate}}
        </ion-label>
    </button><button ion-item detail-none class="btn default">
        <ion-label>
            {{'EmailSetting' | translate}}
        </ion-label>
    </button>
    <button ion-item detail-none class="btn default" (click)="onClick_Pincode()">
        <ion-label>
            {{'PincodeSetting' | translate}}
        </ion-label>
    </button>
</ion-content>
