<ion-header>
    <ion-navbar>
        <ion-title>
            {{wallet | walletToSymbol | async}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="repay-confirm-container">
        <div>{{wallet | walletToFullName | async}} : {{'ConfirmRepayLoan' | translate}}</div>
        <div>
            <div>
                {{'Repay' | translate}}
            </div>
            <div>
                ${{amount}}
            </div>
        </div>
        <div>
            <div>
                {{'TotalLoanAmount' | translate}}
            </div>
            <div>
                ${{totalLoanedAmount}}
            </div>
        </div>
        <div>
            <div>
                {{'Ltv' | translate}}
            </div>
            <div>
                {{wallet.Collateral.Ltv}}%
            </div>
        </div>
        <div>
            <div>
                {{'Expiry' | translate}}
            </div>
            <div>
                {{wallet.Collateral.Expiry}}
            </div>
        </div>
        <div class="buttons">
            <button ion-item class="nw-button center" (click)="onClick_Cancel()">{{'Cancel' | translate}}</button>
            <button ion-item class="nw-button center" (click)="onClick_Confirm()">{{'Confirm' | translate}}</button>
        </div>
    </div>
</ion-content>
