page-reset-pincode {
    $size-offset: 11vw;
    .scroll-content {
        display: flex;
        flex-direction: column;
    }

    .container {
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header {
            font-size: 2.5rem;
        }
        .phone-number {
            font-size: 3.5rem;
            margin: 5% 0;
        }
        .input-pincode-desc {
            font-size: 2rem;
        }
        .pincodes {
            display: flex;
            flex-direction: column;
        }
        .button-next {
            margin: 3% auto 0 auto;
            width: 90%
        }
    }
    .key {
        flex-grow: 0.2;
    }
}
