page-reset-pincode-success {
    .reset-pincode-success {
        .logo {
            //temp
            font-size: 10rem;
            //temp

            text-align: center;
        }
        .title {
            font-size: 3rem;
            text-align: center;
        }
    }
}
