add-wallet {
    .content {
        background: url('../assets/img/bg.png') no-repeat top center;
        background-size: cover;
    }
    .search {
        height: 30px;
        display: grid;
        grid-template-columns: 10% 80% 10%;

        div {
            grid-column: 2;
            position: relative;

            ion-icon {
                z-index: 1;
                position: absolute;
                padding : 9px 0 0 10px;
                color : $color-secondary;
            }
            .input {
                border-radius: 10px;
                padding: 0 0 0 30px;
                display: block;
                height: 100%;
                color: black;
                width: 100%

            }
        }
    }

    .add-asset-list {
        margin: 3% 0 0 0;
        .asset {
            height: 70px;
            display: grid;
            grid-template-columns: 70px 2fr 1fr;
            background-color: $border-color-7a;
            border : 1px solid $border-color;
            border-radius: 10px;
            margin: 5px 0 0 0;
            img {
                margin: auto 0 auto 5px;
                grid-column: 1;
            }
            div {
                font-size: 2rem;
                margin: auto 0 auto 5px;
                grid-column: 2;
            }
            button {
                margin: auto 10px auto 0;
                grid-column: 3;
            }
        }
    }
}
