<ion-header class="tab-header">
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_add_wallet.png" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="search">
        <div>
            <ion-icon name="md-search"></ion-icon>
            <input class="input" [(ngModel)]="searchText" type="text" placeholder="Search">
        </div>
    </div>

    <div class="add-asset-list" *ngIf="availables && availables.length > 0">
        <ion-list>
            <!-- inactive item preload -->
            <div *ngFor="let available of availables">
                <div class="asset btn default">
                    <img src="assets/img/symbol_{{available.Symbol}}.png" />
                    <div>{{available.Symbol}}</div>
                    <button (click)="onClick_AddAsset(available)">Add</button>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>
