<ion-header class="tab-header">
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_account.png" />
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines inset>
        <button ion-item detail-none class="btn default" (click)="onClick_MyInfo()">
            <ion-label>
                <fa-icon name="question"></fa-icon>
                <span>{{'MyInfo' | translate}}</span>
            </ion-label>
        </button>

        <button ion-item detail-none class="btn default" (click)="onClick_Language()">
            <ion-label>
                <fa-icon name="language"></fa-icon>
                <span>{{'Language' | translate}}</span>
            </ion-label>
        </button>

        <!-- <button ion-item detail-none class="btn default">
            <ion-label>
                <fa-icon name="lock"></fa-icon>
                <span>{{'PinSetting' | translate}}</span>
            </ion-label>
        </button>

        <button ion-item detail-none class="btn default">
            <ion-label>
                <fa-icon name="download"></fa-icon>
                <span>{{'WalletBackup' | translate}}</span>
            </ion-label>
        </button> -->

        <button ion-item detail-none class="btn default" (click)="onClick_Notification(!_enablePushNotification)">
            <ion-label>
                <fa-icon name="bell"></fa-icon>
                <span>EnablePushNotification</span>
            </ion-label>
            <ion-toggle [(ngModel)]="enablePushNotification"></ion-toggle>
        </button>

        <button ion-item detail-none class="btn default" (click)="onLogout()">
            <ion-label>
                <fa-icon name="sign-out"></fa-icon>
                <span>{{'Logout' | translate}}</span>
            </ion-label>
        </button>
    </ion-list>
</ion-content>
