<ion-header class="header">
    <ion-navbar class="navBar">
        <ion-title>
            {{wallet | walletToFullName | async}} {{'Loan' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="loan-form-container">
        <div>
            <div>
                {{'TermsAndConditions' | translate}}
            </div>
            <ion-scroll scrollY="true">
                Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as TOS
                or
                ToS and ToU) are rules by which one must agree to abide in order to use a service. Terms of service
                can
                also be merely a disclaimer, especially regarding the use of websites.
                Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as TOS
                or
                ToS and ToU) are rules by which one must agree to abide in order to use a service. Terms of service
                can
                also be merely a disclaimer, especially regarding the use of websites.
                Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as TOS
                or
                ToS and ToU) are rules by which one must agree to abide in order to use a service. Terms of service
                can
                also be merely a disclaimer, especially regarding the use of websites.
                Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as TOS
                or
                ToS and ToU) are rules by which one must agree to abide in order to use a service. Terms of service
                can
                also be merely a disclaimer, especially regarding the use of websites.
                Terms of service (also known as terms of use and terms and conditions, commonly abbreviated as TOS
                or
                ToS and ToU) are rules by which one must agree to abide in order to use a service. Terms of service
                can
                also be merely a disclaimer, especially regarding the use of websites.
            </ion-scroll>
            <ion-item>
                <ion-label>{{'TermAgreement' | translate}}</ion-label>
                <ion-checkbox [(ngModel)]="isTermAgreed"></ion-checkbox>
            </ion-item>
        </div>
        <div>
            <div>

            </div>
            <div>
                <button>{{'Loan'| translate}}</button>
            </div>
        </div>
    </div>
</ion-content>
