<ng-template #normalRatio>
    <div>green</div>
</ng-template>
<ng-template #warnRatio>
    <div>red</div>
</ng-template>
<ion-header>
    <ion-title>
        <img src="assets/img/title_loan_ncash.png">
    </ion-title>
</ion-header>
<ion-content padding class="no-scroll-container">
    <div class="content-layout">
        <div class="new-loan-area">
            <button type="button" class="btn default new-loan-btn" text-center>
                <ion-label>
                    <span>
                        <img src="assets/img/loan_add_icon.png" />
                    </span>
                    <span>{{'GetANewLoan' | translate}}</span>
                </ion-label>
            </button>
        </div>
        <div class="collateral-loan-area">
            <div class="collateral-loan-group" *ngFor="let collateral of collaterals">
                <div class="collateral-icon">
                    <fa-icon name="bitcoin" class="fa-2x"></fa-icon>
                </div>
                <div class="collateral">
                    {{collateral.asset_code}} {{collateral.collateral_rate}}%
                </div>
            </div>
            <div class="collateral-loan-group" *ngFor="let collateral of collaterals">
                    <div class="collateral-icon">
                        <fa-icon name="bitcoin" class="fa-2x"></fa-icon>
                    </div>
                    <div class="collateral">
                        {{collateral.asset_code}} {{collateral.collateral_rate}}%
                    </div>
                </div><div class="collateral-loan-group" *ngFor="let collateral of collaterals">
                        <div class="collateral-icon">
                            <fa-icon name="bitcoin" class="fa-2x"></fa-icon>
                        </div>
                        <div class="collateral">
                            {{collateral.asset_code}} {{collateral.collateral_rate}}%
                        </div>
                    </div>
        </div>
        <div class="loan-status-area">
            <div class="loan-status-header">
                >
                <span>{{'LoanStatus' | translate}}</span>
            </div>
            <div class="loan-status-column">
                <div>
                    Status
                </div>
                <div>
                    ITEM
                </div>
                <div>
                    NCH
                </div>
                <div>
                    Colltr. %
                </div>
                <div>
                    Condition
                </div>
            </div>
            <ion-content>
                <ion-list *ngIf="loanStatuses && loanStatuses.length > 0">
                    <div class="loan-status-item" *ngFor="let loan of loanStatuses">
                        <div *ngIf="loan.collateral_rate > loan.warning_rate; then normalRatio; else warnRatio"></div>
                        <div> {{loan.collateral_amount}} {{loan.collateral_asset_code}} </div>
                        <div> {{loan.amount}} {{loan.coin_symbol}} </div>
                        <div> {{loan.collateral_rate}}% </div>
                        <div>graph</div>
                    </div>
                </ion-list>
                <ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="background-color: red">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="more Transactions ..."></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-content>
        </div>
        <div class="loan-history-area">
            <div class="loan-history-header">
                <button (click)="onClick()">{{'LoanHistory' | translate}} ></button>
            </div>
        </div>
    </div>
</ion-content>
