page-buy-ncn-result {
    $message-icon-size: 10rem;

    .sub-title {
        border-left: 5px $text-color-sub-title solid;
        @include fluid-type-line($text-size-large-min, $text-size-large-max);
        padding-left: 5px;
        margin-bottom: $space-fixed-size-10;
        color: $text-color-sub-title;
    }

    .result-icon {
        text-align: center;
    }

    .success {
        fa-icon {
            font-size: $message-icon-size;
            color: $icon-color-success;
            margin: $space-fixed-size-20 auto;
            text-shadow: $icon-color-success-shadow;
        }

        .result-table {
            border-top: $space-fixed-size-2 $border-color-divide-line solid;
            border-bottom: $space-fixed-size-2 $border-color-divide-line solid;
            padding: $space-fixed-size-10 0;
            margin-bottom: $space-fixed-size-20;

            .rows {
                display: grid;
                grid-template-columns: 60% 40%;
                justify-content: space-around;

                div {
                    padding: $space-fixed-size-5 $space-fixed-size-10;
                }

                .column {
                    grid-column: 1;
                    text-align: left;
                    color: $text-color-asset-name;
                    @include fluid-type($text-size-medium-min, $text-size-medium-max);
                }

                .amount-ncoin,
                .amount-used,
                .amount-balance {
                    grid-column: 2;
                    text-align: right;
                    @include fluid-type($text-size-medium-min, $text-size-medium-max);
                    font-weight: 600;
                }

                .amount-ncoin {
                    color: $text-color-content-green;
                }

                .amount-used {
                    color: $text-color-content-red;
                }

                .amount-balance {
                    color: $text-color-content-white;
                }
            }
        }
    }

    .failed {
        fa-icon {
            font-size: $message-icon-size;
            color: $icon-color-failed;
            margin: $space-fixed-size-20 auto;
        }

        .message {
            color: $foreground-content-normal;
            text-align: center;
            margin-bottom: $space-fixed-size-20;

            p {
                @include fluid-type($text-size-medium-min, $text-size-medium-max);
                line-height: 2rem;
                margin: 0;

                span {
                    color: $text-color-content-white;
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;

        button.confirm {
            margin: 0 $space-fixed-size-10;
            @include fluid-type($text-size-default-min, $text-size-default-max);
        }
    }

}
