page-receive {
    .content {
        background-color: white;
    }

    ion-navbar {
        height: 100%;
    }

    ion-title *{
        color: color($colors, title);
    }

    ion-navbar ion-buttons {
        display: flex;
        align-items: center;
    }


    ion-card-content button {
        background-color: transparent;
    }

    ngx-qrcode .qrcode{
        width: 70%;
        height: 70%;
    }

    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
    }
}

