<ion-header class="header">
    <div class="navBar-container">
        <div>
            <ion-navbar class="navBar">
                <div class="title-header-container">
                    <ion-title>
                        {{wallet | walletToSymbol | async}}
                    </ion-title>
                    <div class="asset-amount">{{ wallet | walletToFormat}}</div>
                    <div class="asset-price">{{ wallet | walletToUSD | async}}</div>
                </div>
                <div class="title-content-container">
                    <div class="loan-summary">
                        <div class="loaned">
                            <div>{{'Loaned' | translate}}</div>
                            <div>${{wallet.Colleteral.Loaned}}</div>
                        </div>
                        <div class="available">
                            <div>{{'Available' | translate}}</div>
                            <div>${{wallet.Colleteral.Loaned}}</div>
                        </div>
                        <div class="lock">
                            <div>{{'Lock' | translate}}</div>
                            <div>{{wallet.Colleteral.Lock}} {{wallet | walletToSymbol | async}}</div>
                        </div>
                    </div>
                    <div>
                        ::COLLETERAL_PROGRESS_BAR::
                    </div>
                    <div class="buttons">
                        <button ion-button (click)="onClick_Loan()">{{'Loan' | translate}}</button>
                        <button ion-button (click)="onClick_Repay()">{{'Repay' | translate}}</button>
                    </div>
                </div>
            </ion-navbar>
        </div>
    </div>

</ion-header>
<ion-content>
    <div class="container">
        <ion-list *ngIf="transactionMaps && transactionMaps.length > 0">
            <ion-item-group class="content-history" *ngFor="let map of transactionMaps">
                <ion-item-divider class="content-history-date" sticky>
                    {{map.date | date: 'dd MMMM yyyy'}}
                </ion-item-divider>
                <button ion-item detail-none *ngFor="let transaction of map.transactions" (click)="onExploreTransaction(transaction)">
                    <div item-start>{{transaction.transactionType}}</div>
                    <div item-middle>{{transaction.date | date : 'yyyy/MM/dd hh:mm a'}}</div>
                    <div item-end>{{transaction.amount}} {{wallet | walletToSymbol | async}}</div>
                </button>
            </ion-item-group>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="more Transactions ..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
