<ion-header class="header">
    <div class="navBar-container">
        <div class="header-detail-page">
            <ion-navbar class="navBar">
                <div class="title-header-container">
                    <ion-title>
                        <img class="asset-logo" src="assets/img/symbol_{{wallet.getSymbol()}}.png" />
                        <span class="asset-name">{{wallet.getSymbol() | translate}}</span>
                    </ion-title>
                    <div class="asset-amount">{{ wallet | walletToFormat}}</div>
                    <div class="asset-price">{{ wallet | walletToUSD | async}}</div>
                </div>
                <div class="title-content-container">
                    <div class="loan-summary">
                        <div class="loaned">
                            <div class="column">{{'Loaned' | translate}}</div>
                            <div class="value">${{wallet.Collateral.Loaned}}</div>
                        </div>
                        <div class="available">
                            <div class="column">{{'Available' | translate}}</div>
                            <div class="value">${{wallet.Collateral.Available}}</div>
                        </div>
                        <div class="lock">
                            <div class="column">{{'Lock' | translate}}</div>
                            <div class="value">{{wallet.Collateral.Lock}} {{wallet | walletToSymbol | async}}</div>
                        </div>
                    </div>
                    <div class="progress-label">
                        <div>LTV</div>
                        <div>MAX</div>
                        <div>Liquidation</div>
                    </div>
                    <div class="progress-bar">
                        <div></div>
                        <div></div>
                        <div class="red" [ngStyle]="{width: wallet.Collateral.Ltv + '%'}">
                            <span *ngIf="wallet.Collateral.Ltv > 0">{{wallet.Collateral.Ltv}}%</span>
                        </div>
                        <div class="green"></div>
                    </div>
                    <div class="progress-rate">
                        <div>50%</div>
                        <div>90%</div>
                    </div>
                    <div class="buttons">
                        <button ion-button class="btn confirm" (click)="onClick_Loan()">{{'Loan' | translate}}</button>
                        <button ion-button class="btn confirm"
                                (click)="onClick_Repay()">{{'Repay' | translate}}</button>
                    </div>
                </div>
            </ion-navbar>
        </div>
    </div>

</ion-header>
<ion-content>
    <div class="container">
        <ion-list *ngIf="transactionMaps && transactionMaps.length > 0">
            <ion-item-group class="content-history" *ngFor="let map of transactionMaps">
                <ion-item-divider class="content-history-date" sticky>
                    {{map.date | date: 'MMMM yyyy'}}
                </ion-item-divider>
                <button ion-item detail-none *ngFor="let transaction of map.transactions" (click)="onExploreTransaction(transaction)">
                    <div item-start>
                        <img src="assets/img/icon_{{transaction.type.toLowerCase()}}.png" />
                    </div>
                    <div item-middle>
                        <span class="transaction-type">{{transaction.type}}</span>
                        <span class="transaction-date">{{transaction.CreationDate | date : 'MMM dd, yyyy'}}</span>
                    </div>
                    <div item-end [className]="classAmount(transaction.type)">
                        ${{transaction.Amount}}
                    </div>
                </button>
            </ion-item-group>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="more Transactions ..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
