<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="content">
        <div class="header">
            The code is sent to
            the mobile number below:
        </div>
        <div class="phone-number">
            {{phoneNumber}}
        </div>
        <div class="input-seurity-desc">
            Please check your SMS inbox
            and enter the code here:
        </div>
        <div class="security-codes">
            <div>{{securityCodes[0]}}</div>
            <div>{{securityCodes[1]}}</div>
            <div>{{securityCodes[2]}}</div>
            <div>{{securityCodes[3]}}</div>
            <div>{{securityCodes[4]}}</div>
            <div>{{securityCodes[5]}}</div>
        </div>
    </div>
    <button class="button-next" ion-button block (click)="onClick_Next()">
        Next
    </button>
    <div>
        The Code will be expired in
    </div>
    <div>
        [ {{expiredTimeSpan | date : 'mm:ss'}} ]
    </div>
</ion-content>
<ion-footer>
    <nw-key-pad (keystroke)=onInput($event)></nw-key-pad>
</ion-footer>
