<ion-header>
    <ion-navbar>
        <ion-title>
            {{'Repay' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <div>
            <div>{{wallet | walletToFullName | async}}{{'LoanStatus' | translate}}</div>
            <div>
                <div>
                    <div>{{'Collateral' | translate}}</div>
                    {{wallet | walletToSymbol | async}}
                </div>
                <div>
                    <div>{{'Lonaed' | translate}}</div>
                    ${{wallet.Collateral.Loaned}}
                </div>
                <div>
                    <div>{{'Ltv' | translate}}</div>
                    {{wallet.Collateral.Ltv}}%
                </div>
                <div>
                    <div>{{'Expiry' | translate}}</div>
                    {{wallet.Collateral.Expiry}}
                </div>
            </div>
        </div>
        <div>
            <div>{{'SelectRepayOption' | translate}}</div>
            <div>

            </div>
        </div>
        <div>
            <div>{{'EnterRepayAmount' | translate}}</div>
            <div>
                <ion-input [(ngModel)]="amount" type="number"></ion-input>
            </div>
        </div>
        <button ion-item class="nw-button center" (click)="onClick_Repay()" [disabled]="!amount || amount <= 0">
            {{'Repay' | translate}}
        </button>
    </div>
</ion-content>
