// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$headings-font-weight: 300;
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$color-primary: #fff;
$color-secondary: #9f9f9f;
$color-secondary-light: #c0bfbf;
$color-secondary-dark: #7e7e7e;
$color-danger: #cc0e28;
$color-title: #fff5df;
$color-title-second: #ded1b6;
$icon-border-radius: 50%;
$txp-icon-border-radius: 2rem;
$toolbar-background: #2a3f90;
$toolbar-scanner: rgba(30, 49, 134, 0.8);

$colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    danger: $color-danger,
    light: $color-secondary-light,
    dark: $color-secondary-dark,
    title: $color-title,
    title-second: $color-title-second,

    blank: #488aff,
    light-grey: #aaaaaa,
    favorite: #69BB7B,
    twitter: #1da1f4,
    google: #dc4a38,
    vimeo: #23b6ea,
    facebook: #3b5998
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background: color($colors, primary);
// Change the color of the segment button text
$toolbar-md-active-color: #fff;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.
@import "roboto";
@import "noto-sans";


// Overriding Ionic Sass Variables
// START

// Global
$background-color: transparent;

// Toolbar
$toolbar-padding: 0;
$toolbar-wp-padding: $toolbar-padding;
$toolbar-ios-padding: $toolbar-padding;
$toolbar-md-padding: $toolbar-padding;

// Tab
$tabs-tab-min-height: 70px;
$tabs-ios-tab-min-height: $tabs-tab-min-height;
$tabs-md-tab-min-height: $tabs-tab-min-height;
$tabs-wp-tab-min-height: $tabs-tab-min-height;

$tabs-tab-color-active: transparent;
$tabs-tab-color-inactive: transparent;

$tabs-tab-padding: 0;

$tabs-border-color: transparent;
$tabs-ios-border-color: transparent;
$tabs-ios-border: 0;
$tabs-wp-border-color: transparent;
$tabs-wp-tab-border: 0;

$tabs-background: transparent url("../assets/img/tabs_bg.png") repeat-x bottom;

$tabs-md-tab-icon-transform-y-active: 0;

// card
$card-ios-background-color: $background-color;
$card-ios-box-shadow: none;
$card-ios-box-shadow-color: $background-color;

$card-md-background-color: $background-color;
$card-md-box-shadow: none;
$card-md-box-shadow-color: $background-color;

$card-wp-background-color: $background-color;
$card-wp-box-shadow: none;
$card-wp-box-shadow-color: $background-color;

// END
