add-wallet {
    .content {
        background: url('../assets/img/bg.png') no-repeat top center;
        background-size: cover;
    }
    .asset {
        height: 70px;
        display: grid;
        grid-template-columns: 70px 2fr 1fr;
        img {
            margin: auto 0 auto 0;
            grid-column: 1;
        }
        div {
            font-size: 2rem;
            margin: auto 0 auto 0;
            grid-column: 2;
        }
        button {
            margin: auto 0 auto 0;

            grid-column: 3;
        }
    }
}
