<ion-header>
    <ion-navbar>
        <ion-title>
            {{'AddWallet' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="search">
        <div>
            <ion-icon name="md-search"></ion-icon>
            <input class="input" [(ngModel)]="searchText" type="text" placeholder="Search">
        </div>
    </div>

    <div class="add-asset-list" *ngIf="assets && assets.length > 0">
        <ion-list>
            <!-- inactive item preload -->
            <div *ngFor="let asset of assets">
                <div class="asset">
                    <img src="assets/img/symbol_BTC.png" />
                    <div>{{asset.getSymbol()}}</div>
                    <button (click)="onClick_AddAsset(asset)">Add</button>
                </div>

            </div>
        </ion-list>
    </div>
</ion-content>
