<ion-header>
    <ion-navbar>
        <ion-title>
            {{'AddWallet' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="assets && assets.length > 0">
        <ion-list>
            <!-- inactive item preload -->
            <div *ngFor="let asset of assets" [style.display]="asset.option.isActive ? 'none' : 'block'">
                <div class="asset">
                    <img src="assets/img/symbol_BTC.png" />
                    <div>{{asset.detail.symbol}}</div>
                    <button (click)="onClick_AddAsset(asset)">Add</button>
                </div>

            </div>
        </ion-list>
    </div>
</ion-content>