<ion-header>
    <ion-title>
        <img src="assets/img/title_wallet.png" />
    </ion-title>
</ion-header>

<ion-content padding>
    <!-- <p>public</p>
    <p>{{account.signature.public}}</p>
    <p>secret</p>
    <p>{{account.signature.secret}}</p> -->
    <!--<ion-item no-lines>-->
    <!--<div float-left class="total">-->
    <!--<ion-row class="label">-->
    <!--<span translate>Total</span>-->
    <!--<span>:</span>-->
    <!--</ion-row>-->
    <!--<ion-row class="price">-->
    <!--$<span>{{totalPrice}}</span>-->
    <!--</ion-row>-->
    <!--</div>-->
    <!--<div float-right><button type="button" class="btn-add-wallet"></button></div>-->
    <!--</ion-item>-->

</ion-content>
