<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'ManageWallet' | translate}}
        </ion-title>
        <!-- <button class="refresh-button"><ion-icon name="md-refresh"></ion-icon></button> -->
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="assets && assets.length > 0">
        <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
            <!-- inactive item preload -->
            <ion-item class="asset-ion-item" *ngFor="let asset of assets" >
                <div class="asset-container">
                    <img class="asset-item img" src="assets/img/symbol_{{asset.getSymbol()}}.png" />
                    <div class="asset-item symbol">
                        {{asset.getSymbol()}}
                    </div>
                    <button class="asset-item isShow" (click)="onChangeVisibility(asset)">
                        {{asset.option.isShow}}
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <button class="btn default" ion-button block (click)="onClick_addWallets()">Add Wallets</button>
</ion-footer>
