manage-wallet {
    .back-button {
        display: block;
    }
    .content {
        background: url('../assets/img/bg.png') no-repeat top center;
        background-size: cover;
    }

    .add-wallets-button {
        width: 90%;
        margin : 0 auto 5% auto;
    }
}
