<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'ManageWallet' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="assets && assets.length > 0">
        <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
            <!-- inactive item preload -->
            <ion-item *ngFor="let asset of assets" [style.display]="asset.option.isActive ? 'block' : 'none'" (click)="onChangeVisibility(asset)">
                <ion-label>{{asset.detail.symbol}}</ion-label>
                <ion-label>{{asset.option.order}}</ion-label>
                <ion-label>{{asset.option.isShow}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <button class="add-wallets-button" ion-button full (click)="onClick_addWallets()">Add Wallets</button>
</ion-footer>
