manage-wallet {
    .back-button {
        display: block;
    }
    .refresh-button {
        position: absolute;
        top: 30px;
        right: 4%;
        background: transparent;
        color: white;
        font-size: 2rem;
    }
    .refresh-button:active {
        color: yellow;
        top: 31px;
    }
    .content {
        background: url('../assets/img/bg.png') no-repeat top center;
        background-size: cover;
    }

    .asset-ion-item {
        display: block;
        background: gray;
        border-radius: 10px;
        margin-bottom: 10px;
        .asset-container {
            display: grid;
            grid-template-columns: 25px 1fr 15px 50px;
            .asset-item {
                height: 100%;
                margin: auto 0;
            }
            .img {
                grid-column: 1;
            }
            .symbol {
                grid-column: 2;
            }
            .order {
                grid-column: 3;
            }
            .isShow {
                grid-column: 4;
            }
        }
    }

    .btn.default {
        width: 90%;
        margin: 0 auto 5% auto;
    }
}
