<!--
  Generated template for the WalletDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center">wallet.detail</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <div>
            <ion-label style="text-align: center; font-size: 300%">
                {{wallet.asset.code | walletName}}
            </ion-label>
        </div>
        <div align="right">
            <ion-label>
                {{wallet | walletFormat}}
            </ion-label>
            <ion-label>
                {{wallet | walletToUSD}}
            </ion-label>
        </div>
    </div>
    <div>
        <label>>Transaction History</label>
        <ion-list *ngIf="histories && histories[0]">
            <ion-item *ngFor="let history of histories">
                {{history.type}} {{history.amount}} {{history.date}}
            </ion-item>
        </ion-list>
        <!-- todo use related grid later [sky] -->
        <div align="middle" style="
        position:  absolute;
        width: 90%;
        left:  5%; bottom : 10%;">
            <ion-buttons *ngIf="!isNCH">
                <button ion-button (click)="onBuyAsset()" style="width: 30%">
                    buy NCH
                </button>
                <button ion-button (click)="onLoanAsset()" style="width: 30%">
                    loan NCH
                </button>
            </ion-buttons>
        </div>
    </div>
</ion-content>
