<ion-header class="tab-header">
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_buy_ncoin.png" />
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <div>
            <div class="sub-title">{{'SelecteWalletToPay' | translate}}</div>
            <div>
                <div class="country-code-button" (click)="onClick_ChangeWallet()">
                    <img class="asset-logo" src='assets/img/symbol_{{selectedWallet.getSymbol()}}.png' />
                    <div class="asset-name">{{selectedWallet | walletToFullName | async}}</div>
                    <div class="asset-balance">{{selectedWallet | walletToFormat}}</div>
                    <fa-icon name="chevron-down"></fa-icon>
                </div>
            </div>
        </div>
        <div class="buy-wallet-status">
            <div class="row">
                <div class="column">{{'Available' | translate}}</div>
                <div class="amount">{{selectedWallet.getAmount()}}</div>
            </div>
            <div class="row">
                <div class="column">USD/{{selectedWallet | walletToSymbol | async}}</div>
                <div class="amount">{{selectedWallet | walletPerPrice}}</div>
            </div>
            <div class="row">
                <div class="column">{{'Max' | translate}}{{'Buy' | translate}}</div>
                <div class="amount">{{selectedWallet | walletToTotalPrice | async}}</div>
            </div>
        </div>
        <div>
            <div class="sub-title">{{'EnterBuyAmount' | translate}}</div>
            <input type="number" placeholder="${{'5'}} ~ ${{'10k'}}" [(ngModel)]="buyNcnAmount">
        </div>
        <div class="shortcuts">
            <button ion-item class="shortcut" (click)="onClick_ShortCut(10)">$10</button>
            <button ion-item class="shortcut" (click)="onClick_ShortCut(100)">$100</button>
            <button ion-item class="shortcut" (click)="onClick_ShortCut(1000)">$1,000</button>
            <button ion-item class="shortcut" (click)="onClick_ShortCut()">{{'Max' | translate}}</button>
        </div>
        <button ion-item class="btn action center" (click)="onClick_Buy()">{{'Buy' | translate}}</button>
    </div>
</ion-content>
