<div class="colleteral-container">
    <div class="wallet">
        <div>
            <div class="info">
                <img src="assets/img/symbol_{{wallet | walletToSymbol | async}}.png" />
                <div>{{wallet | walletToFullName | async}}</div>
            </div>
            <div>::COLLETERAL_PROGRESS_BAR::</div>
        </div>
        <div>
            <div>{{wallet | walletToFormat}}</div>
            <div>{{wallet | walletToUSD | async}}</div>
        </div>
    </div>
    <div class="colleteral">
        <div>
            <div>
                LTV
            </div>
            <div class="content">
                {{wallet.Colleteral.Ltv}}%
            </div>
        </div>
        <div>
            <div>
                Loaned
            </div>
            <div class="content">
                ${{wallet.Colleteral.Loaned}}
            </div>
        </div>
        <div>
            <div>
                Available
            </div>
            <div class="content">
                ${{wallet.Colleteral.Available}}
            </div>
        </div>
    </div>
</div>
