<!-- <ng-template #native>{{wallet.item.asset.code | translate}}</ng-template>
<ng-template #notnative>{{wallet.item.asset.code}}</ng-template>
<div *ngIf="wallet.item.isNative; then native ; else notnative"></div> -->
<ion-header show>
    <ion-title>
        <img src="assets/img/title_buy_ncash.png">
    </ion-title>
</ion-header>
<ion-content padding scroll="=false">
    <div style="background: white">
        <ion-label> > {{'BuyWith' | translate}}</ion-label>
        <ion-item>
            <ion-label>
                <span translate>Amount</span>
            </ion-label>
            <ion-input [(ngModel)]="sourceAssetAmount" type="number" text-right></ion-input>
            <ion-select item-end [(ngModel)]="sourceAsset" interface="popover">
                <ion-option *ngFor="let asset of availableAssets" [value]="asset" (ionSelect)="onAssetChanged()">{{asset.item.asset.code}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item no-lines>
            <div item-end>
                <ion-label style="text-align: right">
                    {{'Balance' | translate}}: {{sourceAsset | assetFormat}}
                </ion-label>
            </div>
        </ion-item>
        <ion-item>
            <button (click)="onMaxBuy()" item-end>
                <ion-label text-right>{{'Max' | translate}}</ion-label>
            </button>
        </ion-item>
        <ion-label>
            > {{'NCH' | translate}}
        </ion-label>
        <ion-item no-lines>
            <ion-label item-start>
                {{'Amount'}}
            </ion-label>
            <div item-end>
                <ion-label style="text-align: right">
                    {{expectedNCHContext| assetFormat}}
                </ion-label>
            </div>
        </ion-item>
        <ion-item no-lines>
            <div item-end>
                <ion-label style="text-align: right">
                    {{'Available' | translate}}: {{expectedMaxNCHAmount}} NCH
                </ion-label>
            </div>
        </ion-item>
        <ion-item no-lines>
            <button (click)="onMaxBuy()" item-end>
                <ion-label text-right>{{'Max' | translate}}</ion-label>
            </button>
        </ion-item>
    </div>
    <!-- todo use related grid later [sky] -->
    <button ion-button block (click)="onBuyRequest()">
        {{'Buy' | translate }} {{'NCH' | translate }}
    </button>
</ion-content>
