page-verify-reset-phone-number-success {
    .reset-mobile-number-success {
        .logo {
            //temp
            font-size: 10rem;
            //temp

            text-align: center;
        }
        .title {
            font-size: 3rem;
            text-align: center;
        }
    }
}
