<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_send.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <div>
            <div class="asset_change_button" (click)="onClick_Wallet()">
                <img class="asset-logo" src="assets/img/symbol_{{selectedWallet.getSymbol()}}.png" />
                <div class="asset-name">{{selectedWallet | walletToFullName | async}}</div>
                <div class="asset-balance">{{selectedWallet | walletToFormat}}</div>
                <fa-icon name="chevron-down"></fa-icon>
            </div>
        </div>
        <div class="recipient-address">
            <div class="label">
                {{'EnterAddress' | translate | uppercase}}
            </div>
            <div class="qr-code">
                <input class="input" [(ngModel)]="recipientAddress" type="text" [placeholder]="'enter or scan the qr code' | translate">
                <div>
                    <fa-icon class="image" name="qrcode" (click)="onScanClick()"></fa-icon>
                </div>
            </div>
        </div>
        <div class="recipient-address">
            <div class="label">
                {{'EnterAmount' | translate | uppercase}}
            </div>
            <div class="qr-code">
                <input class="input" [(ngModel)]="sendAmount" type="number" [placeholder]="'enter or scan the qr code' | translate">

            </div>
        </div>
    </div>
    <div class="caution">
        <div [innerHTML]="'SendCaution' | translate"></div>
        <div style="color: red">AA</div>
    </div>
    <div>
        <button ion-item class="nw-button next" (click)="onClick_Next()">{{'Next'| translate}}</button>
    </div>
</ion-content>
