page-send-confirm {
    .sub-title {
        border-left: 5px $text-color-sub-title solid;
        font-size: $text-size-large;
        line-height: $text-size-large;
        padding-left: 5px;
        margin-bottom: $text-size-medium;
        color: $text-color-sub-title;
    }

    .logo {
        text-align: center;
        padding: 20px 0;

        img {
            width: 30%;
            min-width: 100px;
        }
    }

    .transfer {
        border-top: 2px $border-color-divide-line solid;
        border-bottom: 2px $border-color-divide-line solid;
        padding: 15px 0;
        margin-bottom: 30px;

        .send {
            display: flex;
            justify-content: space-between;
        }


        .from {
            text-align: left;
            padding: 10px;

            .asset-amount {
                color: $text-color-content-red;
                font-size: $text-size-large;
            }
        }


    }

    .buttons {
        display: flex;
        justify-content: space-around;

        button {
            margin: 0 15px;
        }
    }
}
