page-send-confirm {
    .sub-title {
        border-left: 5px $text-color-sub-title solid;
        @include fluid-type($text-size-large-min, $text-size-large-max);
        //line-height: $text-size-large;
        padding-left: 5px;
        margin-bottom: $space-size-medium;
        color: $text-color-sub-title;
    }

    .logo {
        text-align: center;
        padding: 20px 0;

        img {
            width: 30%;
            min-width: 100px;
        }
    }

    .transfer {
        border-top: 2px $border-color-divide-line solid;
        border-bottom: 2px $border-color-divide-line solid;
        padding: 5px 0;
        margin-bottom: 30px;

        .send {
            display: flex;
            justify-content: space-between;
        }

        .send,
        .address {
            padding: 10px 0;
        }

        .column {
            color: $foreground-content-normal;
            @include fluid-type($text-size-medium-min, $text-size-medium-max);
        }

        .content {
            @include fluid-type($text-size-medium-min, $text-size-medium-max);
            background: transparent;
            text-align: right;
            font-weight: 600;

            .crypto {
                @include fluid-type($text-size-default-min, $text-size-default-max);
                color: $header-detail-page-price;
                font-weight: normal;
            }
        }

        .address .content {
            text-align: left;
            color: $header-detail-page-price;
            font-weight: normal;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-around;

        button {
            margin: 0 15px;
        }
    }
}
