<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_send.png">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="container">
        <div class="asset">
            <img src="assets/img/symbol_{{wallet.getSymbol()}}.png" />
            <div>{{wallet | walletToFullName | async}}</div>
        </div>
        <div>
            <div class="input-wrap">
                <input [(ngModel)]="sendWalletAmount" type="number">
                <div>
                    {{wallet.getSymbol()}}
                </div>
            </div>
            <div class="input-foot">
                {{'Available' | translate}} : {{wallet | walletToFormat}} / {{wallet | walletToUSD | async }}
            </div>
            <button class="button-max" (click)="onClick_Max()">
                <div class="label">{{'Button_Max' | translate | uppercase}}</div>
            </button>
        </div>
        <div>
            <div class="input-wrap">
                <input [(ngModel)]="sendUSDAmount" type="number" readonly="true" [placeholder]="0.0">
                <div>
                    USD
                </div>
            </div>
            <div class="input-foot">
                <!-- Fee : 1111 / -->
            </div>
        </div>
    </div>
    <div>
        <button ion-item class="nw-button next" (click)="onClick_Next()">{{'Next' | translate}}</button>
    </div>
</ion-content>
