page-send {

    .scroll-content {
        display: flex;
        flex-direction: column;
    }

    .container {
        flex-grow: 1;

        .asset_change_button {
            display: grid;
            width: 100%;
            grid-template-columns: 40px 1fr 1fr 30px;
            background: $background-button-default;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;

            .asset-logo {
                grid-column: 1;
                margin: auto;
            }

            .asset-name {
                grid-column: 2;
                font-size: $text-size-large;
                color: $text-color-asset-name;
                margin: auto 0 auto 10px;
            }

            .asset-balance {
                grid-column: 3;
                font-size: $text-size-large;
                color: $text-color-asset-balance;
                margin: auto 10px auto 0;
                text-align: right;
            }

            fa-icon {
                grid-column: 4;
                font-size: 3rem;
                color: rgb(171, 165, 157);
                margin: auto;
            }
        }

        .recipient-address {
            margin: 5% 0 5% 0;
            padding: 5%;
            border: 1px solid $border-color;
            border-radius: 5px;

            >.label {
                margin: 0 0 5% 0;
                border-width: 0 0 1px 5px;
                border-style: solid;
                border-color: $border-color;
                color: $foreground-header;
                font-size: 2rem;
                letter-spacing: -1px;
                padding: 0 0 0 10px;
            }

            >.qr-code {
                padding: 1%;
                border-radius: 5px;
                border: 1px soild $input-border-color;
                background: $input-background;
                display: flex;
                justify-content: space-around;

                >input {
                    background: transparent;
                    margin: 0 10px 0 0;
                    border: 0px;
                    padding: 0 0 0 10px;
                    font-size: 3.4vw;
                    width: 100%
                }

                >div {
                    margin: auto 2% auto 0;
                    font-size: 3.5rem;
                }
            }
        }
    }

    .caution {
        font-size: 2rem;
        margin: 0 0 3% 0;
    }

    .next {
        text-align: center;
        font-size: 4vmin;
    }


    @media screen and (max-height: 400px) {
        .slide {
            >button {
                height: 30px;
            }
        }
    }
}
