<ion-header class="tab-header">
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_send.png">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="content">
        <div class="header">
            {{ 'EnterYourPinToProceed' | translate}}
        </div>
        <div class="pincodes">
            <pin-dots [pin]="pinCode" [PinCount]="6" animate></pin-dots>
        </div>
    </div>
    <nw-key-pad (keystroke)=onInput($event)></nw-key-pad>
</ion-content>
