page-send {

    .scroll-content {
        display: flex;
        flex-direction: column;
    }

    .container {
        .asset_change_button {
            display: grid;
            width: 100%;
            grid-template-columns: 40px 1fr 1fr 30px;
            background: $background-button-default;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 10px;

            .asset-logo {
                grid-column: 1;
                margin: auto;
            }

            .asset-name {
                grid-column: 2;
                @include fluid-type($text-size-large-min, $text-size-large-max);
                color: $text-color-asset-name;
                margin: auto 0 auto 10px;
            }

            .asset-balance {
                grid-column: 3;
                @include fluid-type($text-size-large-min, $text-size-large-max);
                color: $text-color-asset-balance;
                margin: auto 10px auto 0;
                text-align: right;
            }

            fa-icon {
                grid-column: 4;
                font-size: 3rem;
                color: rgb(171, 165, 157);
                margin: auto;
            }
        }

        .recipient-address {
            margin: 0;
            padding: 5% 0;

            > .label {
                border-left: 5px $text-color-sub-title solid;
                @include fluid-type($text-size-large-min, $text-size-large-max);
                //line-height: $text-size-large;
                padding-left: 5px;
                margin-bottom: $space-size-medium;
                color: $text-color-sub-title;
            }

            > .qr-code {
                padding: 2%;
                border-radius: 5px;
                border: none;
                background: $input-background;
                display: flex;
                justify-content: space-around;

                .input {
                    background: transparent;
                    margin: 0 10px 0 0;
                    border: 0;
                    padding: 5px 0 5px 10px;
                    @include fluid-type($text-size-medium-min, $text-size-medium-max);
                    color: $text-color-transaction-type;
                    width: 100%
                }

                > div {
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: center;
                    border-radius: 4px;
                    padding: 3px 5px 0;
                    font-size: 3rem;
                    line-height: 3rem;
                }
            }

            > .enter-amount {
                padding: 2%;
                border-radius: 5px;
                border: none;
                background: $input-background;
                display: flex;
                justify-content: space-between;

                .input {
                    text-align: right;
                    background: transparent;
                    margin: 0;
                    border: 0;
                    padding: 0 0 0 10px;
                    @include fluid-type($text-size-medium-min, $text-size-medium-max);
                    color: $text-color-content-white;
                }

                > div {
                    display: flex;
                    flex: 1;
                    flex-direction: row-reverse;
                    text-align: right;
                    @include fluid-type($text-size-medium-min, $text-size-medium-max);
                    color: $text-color-content-white;

                    .swap-button {
                        margin: auto 0;
                        padding: 0 6px;
                        line-height: 25px;
                    }

                    .swap-currency {
                        @include fluid-type($text-size-default-min, $text-size-default-max);
                        color: $header-detail-page-price;
                    }
                }
            }
        }
    }

    .caution {
        @include fluid-type($text-size-large-min, $text-size-large-max);
        color: $text-color-warning;
        margin: 5% 0 10%;
        text-align: justify;

        i {
            color: $text-color-warning-point1;
        }

        b {
            color: $text-color-warning-point2;
        }
    }


    @media screen and (max-height: 400px) {
        .slide {
            > button {
                height: 30px;
            }
        }
    }
}
