<div class="collateral-container">
    <div class="wallet">
        <div class="row">
            <div class="info">
                <img src="assets/img/symbol_{{wallet | walletToSymbol | async}}.png" />
                <span>{{wallet | walletToFullName | async}}</span>
            </div>
            <div class="balance">{{wallet | walletToFormat}}</div>
        </div>
        <div class="row">
            <div class="progress-bar">
                <div></div>
                <div></div>
                <div class="red" [ngStyle]="{width: wallet.Collateral.Ltv + '%'}"></div>
                <div class="green"></div>
            </div>
            <div class="price-usd">{{wallet | walletToUSD | async}}</div>
        </div>
    </div>
    <div class="collateral">
        <div>
            <div class="columns">
                LTV
            </div>
            <div class="content">
                {{wallet.Collateral.Ltv}}%
            </div>
        </div>
        <div>
            <div class="columns">
                Loaned
            </div>
            <div class="content">
                ${{wallet.Collateral.Loaned}}
            </div>
        </div>
        <div>
            <div class="columns">
                Available
            </div>
            <div class="content">
                ${{wallet.Collateral.Available}}
            </div>
        </div>
    </div>
    <div class="notification">
        <fa-icon name="exclamation-circle"></fa-icon>
        <span>::NOTIFICATION_MESSAGE::</span>
    </div>
</div>
