nw-key-pad {
    width: 100%;

    @media (min-height: 800px) {
        padding-bottom: 10px;
    }
    .back-button{

    }

    .row {
        font-size: 4.5vh;
        cursor: pointer;
        display: flex;
        justify-content: space-around;

        .col {
            height: 9vh;
            min-height: 4vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #9b9b9b;
        }
    }
}
