wallet-transaction-detail {

    .container {
        >div {
            font-size: 2.5rem;
            color: $foreground-header;

            >div {
                font-size: 2rem;
                color: $foreground-content;
                margin: 8px 0 18px 20px;
            }
        }
    }

    .container.receive {}

    .nw-button {
        margin: 10px auto;
        text-align: center;
        width: 60%;
        color: $foreground-button-ok-header;
    }

    //static small
    @media screen and (min-width:768px) and (min-height:600px) and (max-height:768px) {
        .container {
            >div {
                font-size: 2rem;

                >div {
                    font-size: 1.7rem;
                }
            }
        }

        .container.send {
            >div {
                >div {
                    margin: 5px 0 10px 20px;
                }
            }
        }
    }

    //dynamic state
    @media screen and (max-width: 768px),
    screen and (max-height:600px) {
        .container {
            >div {
                font-size: 5vmin;

                >div {
                    font-size: 3.9vmin;
                    margin: 8px 0 18px 25px;

                }
            }
        }
    }
}
