manage-wallet {
    .back-button {
        display: block;
    }

    .refresh-button {
        position: absolute;
        top: 30px;
        right: 4%;
        background: transparent;
        color: white;
        font-size: $text-size-large;
    }

    .refresh-button:active {
        color: yellow;
        top: 31px;
    }

    .content {
        background: url('../assets/img/bg.png') no-repeat top center;
        background-size: cover;
    }

    .asset-ion-item {
        display: block;
        background: $background-button-ncoin;
        border: 0;
        border-radius: 10px;
        margin-bottom: 10px;

        .item-inner {
            height: 100%;

            ion-label {
                margin: 0;
            }
        }

        .asset-container {
            display: grid;
            grid-template-columns: 35px 1fr 15px 60px;

            .asset-item {
                height: auto;
                margin: auto 0;
            }

            .img {
                grid-column: 1;
            }

            .symbol {
                grid-column: 2;
                padding-left: 10px;
            }

            .order {
                grid-column: 3;
            }

            .toggle {
                grid-column: 4;
                color: rgba(255, 255, 255, 0.4);
                padding: 8px 0;
                font-size: $text-size-medium;
                font-weight: 600;
                background: transparent;
                border: rgba(255, 255, 255, 0.4) 2px solid;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
            }
        }
    }

    .asset-ion-item.NCN {
        background: $background-button-ncoin !important;
    }
    .asset-ion-item.isShow {
        background: $background-button-asset-show;
    }
    .asset-ion-item.isHide {
        background: $background-button-asset-hide;
    }

    .btn.default,
    .btn.transparent{
        width: 90%;
        height: 3.5em;
        margin: 0 auto 5% auto;
    }

    .btn.default ion-label,
    .btn.transparent ion-label {
        font-size: 16px;
    }
}
