<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/img/title_manage_wallet.png" />
        </ion-title>
        <!-- <button class="refresh-button"><ion-icon name="md-refresh"></ion-icon></button> -->
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <ion-item class="asset-ion-item">
            <div class="asset-container">
                <img class="asset-item img" src="assets/img/symbol_{{ncn.getSymbol()}}.png" />
                <div class="asset-item symbol">
                    {{ncn.getSymbol()}}
                </div>
            </div>
        </ion-item>
    </div>
    <div *ngIf="assets && assets.length > 0">
        <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
            <!-- inactive item preload -->
            <ion-item class="asset-ion-item btn default {{asset.getSymbol()}}" *ngFor="let asset of assets"
                      [ngClass]="{'isShow': asset.option.isShow, 'isHide': !asset.option.isShow }" >
                <div class="asset-container">
                    <img class="asset-item img" src="assets/img/symbol_{{asset.getSymbol()}}.png" />
                    <div class="asset-item symbol">
                        {{asset.getSymbol()}}
                    </div>
                    <button class="asset-item toggle" (click)="onChangeVisibility(asset)">
                        {{asset.option.isShow}}
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <button class="btn transparent" ion-button block (click)="onClick_addWallets()">
        <ion-label>
            <fa-icon name="plus"></fa-icon>
            <span>Add Wallets</span>
        </ion-label>
    </button>
</ion-footer>
