<ion-header show>
    <ion-navbar>
        <ion-title ><span translate>NWallet</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <p>public</p>
    <p>{{account.signature.public}}</p>
    <p>secret</p>
    <p>{{account.signature.secret}}</p> -->
    <ion-list *ngIf="account && account.wallets && account.wallets[0]">
        <ion-card *ngFor="let wallet of account.wallets">
            <ion-card-content>
                <button ion-item style="text-align: right" (click)="onSelectWallet(wallet)">
                    <ion-label text-left>{{wallet.item | walletName}}</ion-label>
                    <div item-end>
                        <ion-label>{{wallet | walletFormat}}</ion-label>
                        <ion-label>{{wallet | walletToUSD}}</ion-label>
                    </div>
                </button>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <button ion-item (click)="onLogout()">
        <h3 translate>Logout</h3>
    </button>
</ion-content>
