<ng-template #normalRatio>
    <div>green</div>
</ng-template>
<ng-template #warnRatio>
    <div>red</div>
</ng-template>
<ion-header>
    <ion-title>
        <img src="assets/img/title_loan_ncash.png">
    </ion-title>
</ion-header>
<ion-content padding>
    <div class="loan-fixed" ion-fixed>
        <div class="loan-fixed-header">
            <div>Icon</div>
            <span>{{'GetANewLoan' | translate}}</span>
        </div>
        <ion-scroll class="dock loan-fixed-content" scrollY="true">
            <div class="collateral" *ngFor="let collateral of collaterals">
                {{collateral.asset_code}} {{collateral.collateral_rate}}%
            </div>
            <div class="collateral" *ngFor="let collateral of collaterals">
                {{collateral.asset_code}} {{collateral.collateral_rate}}%
            </div>
            <div class="collateral" *ngFor="let collateral of collaterals">
                {{collateral.asset_code}} {{collateral.collateral_rate}}%
            </div>
            <div class="collateral" *ngFor="let collateral of collaterals">
                {{collateral.asset_code}} {{collateral.collateral_rate}}%
            </div>
        </ion-scroll>
        <div class="loan-fixed-content">
            >
            <span>{{'LoanStatus' | translate}}</span>
        </div>
        <div class="loan-fixed-content loan-column">
            <div style="width: 10%">
            </div>
            <div style="width: 40%; text-align: center">
                item
            </div>
            <div style="width: 30%; text-align: center">
                nch
            </div>
            <div style="width: 12%; text-align: center">
                Colltr. %
            </div>
            <div style="width: 12%; text-align: right">
                Condition
            </div>

        </div>
        <div class="loan-fixed-footer" style="background-color: yellowgreen; height: 50px; position: absolute; bottom: 0px; width: 100%">
            <Button style="display: flex" (click)="onClick()">
                Loan History >ss
            </Button>
        </div>
    </div>
    <div>
        <ion-list *ngIf="loanStatuses && loanStatuses.length > 0">
            <button ion-item class="loan-item" *ngFor="let loan of loanStatuses">
                <div *ngIf="loan.collateral_rate > loan.warning_rate; then normalRatio; else warnRatio"></div>
                <div style="width: 40%; text-align: right"> {{loan.collateral_amount}} {{loan.collateral_asset_code}} </div>
                <div style="width: 30%; text-align: right"> {{loan.amount}} {{loan.coin_symbol}} </div>
                <div style="width: 12%"> {{loan.collateral_rate}}% </div>
                <div item-end>graph</div>
            </button>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="background-color: red">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="more Transactions ..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
<ion-footer></ion-footer>
