<ion-header>
    <ion-navbar>
        <ion-title>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="container">
        <img class="logo" src="assets/img/appicon.png">
        <div class="_content">
            <div class="enter-mobile-number">
                {{'EnterYourMobileNumber' | translate}}
            </div>
            <div class="country">
                <button class="country-code-button" (click)="onCountryChanged($event)">
                    <div class="country-code-logo">{{selectedCountry.fullName}}</div>
                    <div class="country-code-dial">
                        <div *ngIf="selectedCountry">+{{selectedCountry.dialCode}}</div>
                    </div>
                    <ion-icon name="arrow-dropdown"></ion-icon>
                </button>
                <input class="phone-number" [readonly]="true" [value]="phoneNumber" placeholder="{{'MobileNumber' | translate}}" />
            </div>
            <div>
                <button ion-button block class="btn default" (click)="onClick_Next()">
                    {{'Next' | translate}}
                </button>
            </div>
        </div>
        <nw-key-pad class="keypad" (keystroke)=onInput($event)></nw-key-pad>
    </div>
</ion-content>
