page-loan {
    .loan-summary {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 2rem;

        .total-loaned {
            text-align: center;

            :nth-child(1) {
                color: $global-color-gold;
                font-size: $text-size-large;
            }

            :nth-child(2) {
                color: $global-color-red;
                font-size: $text-size-large;
                margin-top: 1rem;
            }
        }

        .total-available {
            text-align: center;

            :nth-child(1) {
                color: $global-color-gold;
                font-size: $text-size-large;
            }

            :nth-child(2) {
                color: $global-color-green;
                font-size: $text-size-large;
                margin-top: 1rem;
            }
        }
    }
    .swiper-pagination {
        bottom: 0 !important;
    }
}
