<ion-header>
    <ion-navbar>
        <ion-title>
            <!-- <img src="assets/img/title_wallet.png" /> -->
            LOAN
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <div class="loan-summary">
            <div class="total-loaned">
                <div>{{'TotalLoaned' | translate}}</div>
                <div>
                    ${{totalLoanedAmount}}
                </div>
            </div>
            <div class="total-available">
                <div>{{'TotalAvailable' | translate}}</div>
                <div>
                    ${{totalAvailableAmount}}
                </div>
            </div>
        </div>
        <ion-slides pager>
            <ion-slide *ngFor="let slide of slides">
                <ion-list>
                    <nw-collateral-item *ngFor="let item of slide.items" [wallet]="item" (click)="onClick_Wallet(item)"></nw-collateral-item>
                </ion-list>
            </ion-slide>
        </ion-slides>
    </div>

</ion-content>
