<ion-header>
    <ion-navbar>
        <ion-title>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="container">
        <div class="my-mobile-number">
            <div class="header">
                {{'YourMobileNumberIs' | translate}}:
            </div>
            <div class="content">
                {{currentPhoneNumber}}
            </div>
            <div class="footer">
                {{'EnterNewMobileNumber' | translate}}
            </div>
        </div>
        <div class="country">
            <button class="country-code-button" (click)="onCountryChanged($event)">
                <span class="country-code-logo">{{selectedCountry.country}}</span>
                <div class="country-code-dial">
                    <span *ngIf="selectedCountry">+{{selectedCountry.code}}</span>
                    <ion-icon name="arrow-dropdown"></ion-icon>
                </div>
            </button>
            <input class="phone-number" [readonly]="true" [value]="newPhoneNumber" placeholder="{{'MobileNumber' | translate}}" />
        </div>
        <div class="next">
            <button ion-item class="nw-button" (click)="onClick_Next()">
                {{ 'Next' | translate}}
            </button>
        </div>
    </div>
    <nw-key-pad class="keypad" (keystroke)=onInput($event)></nw-key-pad>
</ion-content>
