wallet-transaction-detail {
    $header-height: 154px;

    .header {
        max-height: $header-height;
        height: $header-height;
    }
    .header-wp {
        max-height: calc(#{$header-height} + 21px);
        height: calc(#{$header-height} + 21px);
    }
    .header-md {
        max-height: calc(#{$header-height} + 8px);
        height: calc(#{$header-height} + 8px);
    }
    .header-ios {
        max-height: calc(#{$header-height} + 11px);
        height: calc(#{$header-height} + 11px);
    }

    .navBar-container {
        padding: 30px 16px 16px;
        width: 100%;
        height: 100%;
        position: absolute;

        .toolbar-ios {
            .back-button {
                margin-top: 7px;
            }

            ion-title {
                position: relative;
                padding: 0;
            }
        }

        .toolbar-md {
            .back-button {
                margin: 7px 0 0 -8px;
                padding: 0;
            }
        }

        .toolbar-wp {
            .back-button {
                margin: 9px 0 0 -12px;
                padding: 0;
            }
        }

        ion-navbar.navBar {
            display: block;
        }
    }

    .toolbar-content {
        border-top: $border-color-divide-line 1px solid;
        border-bottom: $border-color-divide-line 1px solid;
        padding: 10px;
    }

    .title-header-container {
        .toolbar-title-md,
        .toolbar-title-wp,
        .toolbar-title-ios {
            color: $header-detail-page-title-sub;
            @include fluid-type($text-size-large-min, $text-size-large-max);
        }

        .asset-amount,
        .asset-price {
            text-align: left;
            padding: 0;
        }

        .asset-amount {
            padding-top: 12px;
            @include fluid-type($text-size-extra-large-min, $text-size-extra-large-max);
        }
        .asset-price {
            @include fluid-type($text-size-large-min, $text-size-large-max);
        }
    }

    .title-header-container.receive {
        .asset-amount{
            color: $header-detail-page-balance;
        }
        .asset-price {
            color: $header-detail-page-price;
        }
    }
    .title-header-container.send {
        .asset-amount,
        .asset-price {
            color: $text-color-content-red;
        }
    }

    .container {
        .sub-title {
            border-left: 5px $text-color-sub-title solid;
            @include fluid-type($text-size-large-min, $text-size-large-max);
            //line-height: $text-size-large;
            padding-left: 5px;
            margin-bottom: $space-size-medium;
            color: $text-color-sub-title;
        }

        .content {
            @include fluid-type($text-size-medium-min, $text-size-medium-max);
            color: $text-color-transaction-type;
            background: transparent;
            padding: 0 12px;
        }
    }

    // static small
    @media screen and (min-width: 768px) and (min-height: 600px) and (max-height: 768px) {
        .container {
            > div {
                > div {
                    margin: 5px 0 20px 10px;
                }
            }
        }
    }

    // dynamic state
    @media screen and (max-width: 768px),
    screen and (max-height: 600px) {
        .container {
            > div {
                > div {
                    margin: 8px 0 30px 10px;
                }
            }
        }
    }
}
