<ion-header class="header" [ngClass]="{'has-loan': wallet.ShowLoan}">
    <div class="navBar-container">
        <div class="header-detail-page">
            <ion-navbar class="navBar">
                <div class="title-header-container">
                    <ion-title>
                        <img class="asset-logo" src="assets/img/symbol_{{wallet.getSymbol()}}.png"/>
                        <span class="asset-name">{{wallet.getSymbol() | translate}}</span>
                    </ion-title>
                    <div class="asset-amount">{{ wallet | walletToFormat}}</div>
                    <div class="asset-price">{{ wallet | walletToUSD | async}}</div>
                </div>
                <div class="title-content-container">
                    <div class="loan-summary" *ngIf="wallet.ShowLoan">
                        <div class="ltv">
                            <div class="column">LTV</div>
                            <div class="value">{{wallet.Collateral.Ltv}}%</div>
                        </div>
                        <div class="loaned">
                            <div class="column">Loaned</div>
                            <div class="value">${{wallet.Collateral.Loaned | number}}</div>
                        </div>
                        <div class="available">
                            <div class="column">Available</div>
                            <div class="value">${{wallet.Collateral.Available}}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button ion-button (click)="onClick_Receive()">
                            <fa-icon name="arrow-circle-o-down"></fa-icon>
                        </button>
                        <button ion-button (click)="onClick_Send()">
                            <fa-icon name="arrow-circle-o-up"></fa-icon>
                        </button>
                        <div class="graph">
                            <div></div>
                        </div>
                    </div>
                </div>
            </ion-navbar>
        </div>
    </div>

</ion-header>
<ion-content>
    <div class="container">
        <ion-list *ngIf="transactionMaps && transactionMaps.length > 0">
            <ion-item-group class="content-history" *ngFor="let map of transactionMaps">
                <ion-item-divider class="content-history-date" sticky>
                    {{map.date | date: 'MMMM yyyy'}}
                </ion-item-divider>
                <button ion-item detail-none *ngFor="let transaction of map.transactions"
                        (click)="onExploreTransaction(transaction)">
                    <div item-start *ngIf="isNCN()">
                        <img src="assets/img/icon_ncn_{{transaction.transactionType.toLowerCase()}}.png"/>
                    </div>
                    <div item-start *ngIf="!isNCN()">
                        <img src="assets/img/icon_crypto_{{transaction.transactionType.toLowerCase()}}.png"/>
                    </div>
                    <div item-middle>
                        <span class="transaction-type">{{transaction.transactionType}}</span>
                        <span class="transaction-date">{{transaction.date | date : 'MMM dd, yyyy'}}</span>
                    </div>
                    <div item-end [className]="classAmount(transaction.transactionType)">
                        {{transaction.amount | numberToCrypto: wallet.getCurrencyId()}} {{wallet.getSymbol()}}
                    </div>
                </button>
            </ion-item-group>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles"
                                         loadingText="more Transactions ..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
