<ion-header class="header">
    <ion-navbar>
        <ng-container [ngSwitch]="transaction.transactionType">
            <ion-title *ngSwitchCase="'SEND'">
                <img src="assets/img/title_send.png" />
            </ion-title>
            <ion-title *ngSwitchCase="'RECEIVE'">
                <img src="assets/img/title_receive.png" />
            </ion-title>
        </ng-container>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ng-container [ngSwitch]="transaction.transactionType">
        <div class="container receive" *ngSwitchCase="'RECEIVE'">
            <div>
                {{'TransactionDate' | translate }} >
                <div>{{transaction.date | date: 'yyyy/mm/dd HH:mm:ss'}}</div>
            </div>
            <div>
                {{'TransactionFrom' | translate}} >
                <div>
                    {{transaction.addressFrom}}
                </div>
            </div>
            <div>
                {{'TransactionId' | translate}} >
                <div>
                    {{transaction.transactionId}}
                </div>
            </div>
            <div>
                {{'TransactionConfirm' | translate}} >
                <div>
                    {{transaction.detail.confirmation}}
                </div>
            </div>
        </div>
        <div class="container send" *ngSwitchCase="'SEND'">
            <div>
                {{'TransactionDate' | translate}} >
                <div>{{transaction.date  | date: 'yyyy/mm/dd HH:mm:ss'}}</div>
            </div>
            <div>
                {{'TransactionTo' | translate}} >
                <div>
                    {{transaction.addressTo}}
                </div>
            </div>
            <div>
                {{'TransactionFee' | translate}} >
                <div>
                    {{transaction.fee }}
                </div>
            </div>
            <div>
                {{'TransactionId' | translate}} >
                <div>
                    {{transaction.transactionId}}
                </div>
            </div>
            <div>
                {{'TransactionConfirm' | translate}} >
                <div>
                    {{transaction.detail.confirmation}}
                </div>
            </div>
        </div>
        <div *ngSwitchDefault></div>
    </ng-container>
    <button ion-item class="nw-button" (click)="onExploreTransaction()">{{'ViewOnBlockChain' |translate }}</button>

</ion-content>
