<ion-header class="header">
    <div class="navBar-container">
        <ion-navbar class="navBar">
            <ng-container [ngSwitch]="transaction.transactionType">
                <div class="title-header-container send" *ngSwitchCase="'SEND'">
                    <ion-title>
                        {{'Sent' | translate}}
                    </ion-title>
                    <div class="asset-amount">{{ transaction.amount | numberToCryptoFull: wallet.getCurrencyId() }}
                        {{wallet.getSymbol()}}</div>
                    <div class="asset-price">{{ currentPrice() }}</div>
                </div>
                <div class="title-header-container receive" *ngSwitchCase="'RECEIVE'">
                    <ion-title>
                        {{'Received' | translate}}
                    </ion-title>
                    <div class="asset-amount">{{ transaction.amount | numberToCryptoFull: wallet.getCurrencyId() }} {{wallet.getSymbol()}}</div>
                    <div class="asset-price">{{ currentPrice() }}</div>
                </div>
            </ng-container>
        </ion-navbar>
    </div>
</ion-header>
<ion-content padding>
    <ng-container [ngSwitch]="transaction.transactionType">
        <div class="container receive" *ngSwitchCase="'RECEIVE'">
            <div>
                <div class="sub-title">{{'TransactionDate' | translate}}</div>
                <div class="content">
                    {{transaction.date | date: 'mm/dd/yyyy hh:mm:ss a'}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionFrom' | translate}}</div>
                <div class="content">
                    {{transaction.address}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionId' | translate}}</div>
                <div class="content">
                    {{transaction.transactionId}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionConfirm' | translate}}</div>
                <div class="content">
                    {{transaction.confirmation}}
                </div>
            </div>
        </div>
        <div class="container send" *ngSwitchCase="'SEND'">
            <div>
                <div class="sub-title">{{'TransactionDate' | translate}}</div>
                <div class="content">
                    {{transaction.date | date: 'mm/dd/yyyy hh:mm:ss a'}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionTo' | translate}}</div>
                <div class="content">
                    {{transaction.address}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionFee' | translate}}</div>
                <div class="content">
                    {{transaction.fee }}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionId' | translate}}</div>
                <div class="content">
                    {{transaction.transactionId}}
                </div>
            </div>
            <div>
                <div class="sub-title">{{'TransactionConfirm' | translate}}</div>
                <div class="content">
                    {{transaction.confirmation}}
                </div>
            </div>
        </div>
        <div *ngSwitchDefault></div>
    </ng-container>
    <button ion-item class="btn confirm" (click)="onExploreTransaction()">{{'ViewOnBlockChain' | translate}}</button>

</ion-content>
