<ion-header class="header">
    <ion-navbar class="navBar">
        <ion-title>
            {{wallet | walletToFullName | async}} {{'Loan' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <div>
            {{'Confirm'}}{{wallet | walletToFullName | async}}{{'Loan' | translate}}
        </div>
        <div>
            <div>
                {{'LoanAmount' | translate}}
            </div>
            <div>
                ${{amount}}
            </div>
        </div>
        <div>
            <div>
                {{'TotalLoanAmount' | translate}}
            </div>
            <div>
                ${{totalLoanedAmount}}
            </div>
        </div>
        <div>
            <div>
                {{'LTV' | translate}}
            </div>
            <div>
                {{wallet.Collateral.Ltv}}%
            </div>
        </div>
        <div>
            <div>
                {{'Expiry' | translate}}
            </div>
            <div>
                {{wallet.Collateral.Expiry}}
            </div>
        </div>
        <button class="nw-button" (click)="onClick_Cancel()">{{'Cancel' | translate}}</button>
        <button class="nw-button" (click)="onClick_Confirm()">{{'Confirm' | translate}}</button>
    </div>
</ion-content>
